@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Inter", sans-serif;
  ::selection {
    background-color: #333; /* Desired background color for selected text */
  }
}

.container {
  width: min(100%, 1490px);
  padding-inline: 25px;
  margin-inline: auto;
  height: 100%;
}
.weather__container {
  width: 100%;
  height: 100svh;
  overflow-y: auto;
  position: relative;
  &::-webkit-scrollbar {
    width: 5px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 100px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  &:after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: -1;
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .search {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 10px;
    width: 36px;
    transition: width 0.3s ease-in-out;
    margin-block: 20px;
    input {
      padding: 10px;
      padding-right: 25px;
      border: none;
      outline: none;
      border-radius: 30px;
      border: 1px solid #fff;
      color: #fff;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
      transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
      backdrop-filter: blur(5px);
      &::placeholder {
        color: #fff;
      }
    }
    button {
      border: none;
      background-color: #007bff;
      color: white;
      cursor: pointer;
      border-radius: 50%;
      border: 1px solid #fff;
      width: 30px;
      aspect-ratio: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
      position: absolute;
      right: 3px;
      backdrop-filter: blur(5px);
      .fa-magnifying-glass {
        display: block;
      }
      .fa-xmark {
        display: none;
      }
    }
    &.active {
      width: 300px;
      input {
        /* width: 300px; */
        padding-right: 40px;
      }
      button {
        .fa-magnifying-glass {
          display: none;
        }
        .fa-xmark {
          display: block;
        }
      }
    }
  }
  .weather__info {
    /* height: calc(100vh - 144px); */
    overflow-y: auto;
    padding-bottom: 20px;
    .weather__info-container {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      gap: 20px;
      grid-template-rows: 2fr 1.1fr;
      height: 100%;
    }

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: transparent;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius: 100px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
    .today {
      border-radius: 8px;
      border: 1px solid #fff;
      color: #fff;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0.4) 0%,
        rgba(255, 255, 255, 0.1) 100%
      );
      transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
      backdrop-filter: blur(5px);
      padding: clamp(10px, 5vw, 40px);
      display: grid;
      grid-template-columns: 1.5fr 3fr;
      gap: 40px;
      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
      .current {
        display: flex;
        flex-direction: column;
        gap: 10px;
        text-align: center;
        justify-content: center;
        .weather__icon {
          max-height: 100px;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .location {
          .place {
            font-size: 36px;
            text-transform: capitalize;
          }
          .weekday {
            font-size: 24px;
          }
        }
        .temprature {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .temp {
            font-size: 48px;
            span {
              font-size: 50%;
            }
          }
        }
      }
      .hourly {
        display: flex;
        flex-direction: column;
        gap: clamp(10px, 5vw, 40px);

        .hourly__items {
          display: flex;
          flex-direction: column;
          gap: 20px;
          overflow-y: auto;
          max-height: 370px;
          padding-right: clamp(10px, 5vw, 40px);
          @media (max-width: 525px) {
            padding-right: 5px;
          }
          &::-webkit-scrollbar {
            width: 5px;
          }

          /* Track */
          &::-webkit-scrollbar-track {
            background: transparent;
          }

          /* Handle */
          &::-webkit-scrollbar-thumb {
            background: #888;
            border-radius: 100px;
          }

          /* Handle on hover */
          &::-webkit-scrollbar-thumb:hover {
            background: #555;
          }
          .item {
            padding: 20px;
            border-radius: 8px;
            border: 1px solid #fff;
            color: #fff;
            width: 100%;
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 0.4) 0%,
              rgba(255, 255, 255, 0.1) 100%
            );
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: clamp(10px, 2.5vw, 20px);
            align-items: center;
            .weather {
              display: flex;
              align-items: center;
              gap: 10px;
              img {
                width: 40px;
              }
            }
            &.active {
              background-color: green;
            }
          }
        }
      }
    }
    .weekly {
      display: grid;
      gap: 20px;
      grid-template-columns: repeat(6, 1fr);
      overflow-x: auto;
      padding-bottom: 10px;
      &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 100px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      .item {
        border-radius: 8px;
        border: 1px solid #fff;
        color: #fff;
        width: 100%;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0.4) 0%,
          rgba(255, 255, 255, 0.1) 100%
        );
        transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
        backdrop-filter: blur(5px);
        padding: clamp(10px, 5vw, 40px);
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
        min-width: 223px;

        .weather__icon {
          max-height: 50px;
          width: 50%;
          margin-inline: auto;
          img {
            width: 100%;
            height: 100%;
          }
        }

        .location {
          .weekday {
            font-size: 24px;
          }
        }
        .temprature {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.skeleton {
  &.skeleton-active {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      inset: 0;
      animation: skeleton-loading 1s linear infinite alternate;
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 95%);
  }
  100% {
    background-color: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.4) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
  }
}
